<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <div class="container">
    {% include header.html %}
    {{ content }}
  </div>
  {% include footer.html %}
  <script src="{{ site.baseurl }}/assets/js/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"></script>
  <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"></script>
</body>
</html>
